<!--The content below is only a placeholder and can be replaced.-->
<!-- <div style="text-align:center"></div> -->



<!-- <bootstrap-panel>
    <div class="head">BroChairman</div>
    <div class="body">Fucked Up</div>
</bootstrap-panel> -->
<app-posts></app-posts>
<!-- <signup-form></signup-form> -->
<!-- <app-moshang (lamb)="onMoshChange($event)"></app-moshang> -->
<!-- <app-moshang (lamb)="onMoshChange($event)"></app-moshang> -->
<!-- <app-smart-web></app-smart-web>
<app-form-login></app-form-login> -->



